<div class="logo-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2huPZB9LwmGqsNsQrbRr4Jdu_TnzhS8sjyQ&s" alt="Logo">
    <div class="welcome-message">
        Welcome, <%=u%>
    </div>
</div>
<header>
    <a href="/">Dashboard</a>
    <a href="/comm">Communication</a>
    <a href="/info">Information</a>
    <a href="/imageG">Image Gallery</a>
    <a href="/perform">Performance</a>
    <a href="/changePassword">Change Password</a>
    <a href="/logout">Logout</a>
</header>
<link href="/header.css" rel="stylesheet" />