<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reappear Receipt</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('header', { u: u }) %>
        <div class="content">
            <h1>Reappear Receipt</h1>
            <!-- Content for reappear receipt -->
        </div>
</body>

</html>